body {
    margin: 0%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    height: 5rem;
}

.header .logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    height: 60%;
}

.header a {
    text-decoration: none;
    font-size: 1vw;
}

.login, .register {
    float: right;
    border: #bfbcbc solid 1px;
    border-radius: 0.5rem;
    padding: 0.5vw;
    min-width: 4.8rem;
    text-align: center;
}

.login {
    background-color: #EEEEEE;
    color: black;
    margin: 1.5rem 0rem; 
}

.register {
    background-color: #0F044C;
    color: white;
    right: 100px;
    margin: 1.5rem;
}

.search {
    background-color: #141E61;
    text-align: center;
}

.search-bar {
    margin-top: 4%;
    margin-bottom: 7%;
}

.search-bar input {
    text-align: center;
    font-size: 1vw;
    padding: 0.5rem 1rem;
    border: #787A91 solid 1px;
    border-radius: 0.3rem;
}

.logo-name {
    font-size: 5vw;
    margin: 0%;
    color: white;
    font-weight: 800;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.cities {
    display:flex;
    justify-content: space-around;
    padding: 8% 0;
}

.cities > div {
    flex: 1;
    max-width: 20%;
    height: 10vw;
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding: 0;
    box-shadow: 0px 5px 6px 0px #a6a6a7;
}

.city-1 {
    background-image: url(./sources/images/cdmx.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.city-2 {
    background-image: url(./sources/images/queretaro.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.city-3 {
    background-image: url(./sources/images/monterrey.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.city-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vw;
    border-radius: 10px;
    backdrop-filter: blur(3.5px);
    z-index: 2;
    line-height: 10vw;
}

.city-text p{
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 1.3vw;
}

.city-1 > .city-text {
    padding: 0;
}

.city img {
    width: 100%;
}

.colleges {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    background-color: #EEEEEE;
    padding: 3% 0;
}

.colleges > h2 {
    background-color: #141E61;
    margin: 0;
    padding: 4%;
    font-size: 2vw;
    color: white;
    margin-right: 4%;
    border-radius: 0 10px 10px 0;
}

.college {
    width: 18%;
    box-shadow: 0px 3px 3px #a6a6a7;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin: 3% 0;
}

.college > a:link, .college > a:visited {
    color:black;
    text-decoration: none;
}

.college img {
    width: 80%;
    margin: 10%;
}

.college  p{
    margin: 0;
    padding: 0.5rem;
    border-top: #787A91 solid 1px;
    font-weight: 400;
    font-size: 1.3vw;
}

.img-up {
    margin-right: 1rem;
}

.instructions-flex-container h2 {
    text-align: center;
    color: #0F044C;
    font-size: 3vw;
    margin: 0;
}

.instructions-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0;
}

.instructions-flex-container > div {
    display: flex;
    justify-content: center;
}

.instructions-flex-container h3{
    font-size: 1.5vw;
    font-weight: 600;
}

.instructions-flex-container p{
    font-size: 1.3vw;
    font-weight: 400;
}


.instructions-flex-container img{
    width: 50%;
}

.instruction-text {
    width: 30%;
    padding: 1rem;
}

.instruction1, .instruction2 {
    text-align: center;
    width: 60%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.instruction-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEEEEE;
    width: 40%;
}

.instruction-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    width: 60%;
}

.instruction-img-container p {
    font-size: 0.2vw;
}

.instruction-img-container a {
    text-decoration: none;
}

footer {
    background-color: #0F044C;
}

.info-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}

.info-img {
    width: 3%;
}

.info-img .logo {
    width: 100%;
    text-align: center;
}

.info-links {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-links a {
    font-size: 0.8rem;
    padding: 0.5rem 0;
    text-decoration: none;
}

.info-links > a:link, .info-links > a:visited {
    color: #EEEEEE;
    text-decoration: none;
}

* {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;  
    font-style: normal;
    font-variation-settings: "wdth" 100;
}