/*For the header*/

header {
    position: fixed;
    height: 10vh;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: white;
    z-index: 3;
}

header .logo {
    position: absolute;
    left: 1vw;
    top: 1.5vh;
    height: 7vh;
}

header a {
    text-decoration: none;
    font-size: 2vh;
}

.login, .register {
    float: right;
    border-radius: 10px;
    padding: 1vh 0.5vw;
    text-align: center;
    width: fit-content;
}

.login a, .register a {
    padding: 0;
    margin: 0;
}

.login p, .register p {
    padding: 0;
    margin: 0;
}

.login {
    background-color: white;
    color: black;
    margin: 3vh 0; 
}

.register {
    background-color: #0F044C;
    color: white;
    right: 100px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 4vw;
    margin-left: 2vw;
}

/*For the footer*/

footer {
    background-color: #0F044C;
}

.footer-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}

.footer-img {
    width: 3%;
}

.footer-img .logo {
    width: 100%;
    text-align: center;
}

.footer-links {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    font-size: 0.8rem;
    padding: 0.5rem 0;
    text-decoration: none;
}

.footer-links > a:link, .footer-links > a:visited {
    color: #EEEEEE;
    text-decoration: none;
}

/*For the index.html file*/
.body-index {
    margin: 0%;
}

.index-flex-container {
    display: flex;
    flex-direction: column;
}

.search {
    background-color: #141E61;
    text-align: center;
    margin-top: 10vh;
    height: 60vh;
}

.search-bar {
    margin-top: 4%;
    margin-bottom: 7%;
}

.search-bar input {
    text-align: center;
    font-size: 1vw;
    padding: 0.5rem 1rem;
    border: #787A91 solid 1px;
    border-radius: 0.3rem;
    outline-color: transparent !important;
}

.logo-name {
    font-size: 5vw;
    margin: 0%;
    color: white;
    font-weight: 800;
    margin-top: 20vh;
    margin-bottom: 1vh;
}

.cities {
    display:flex;
    justify-content: space-around;
    padding: 8% 0;
}

.cities > div {
    flex: 1;
    max-width: 20%;
    height: 10vw;
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding: 0;
    box-shadow: 0px 5px 6px 0px #a6a6a7;
}

.city-1 {
    background-image: url(./sources/images/cdmx.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.city-2 {
    background-image: url(./sources/images/queretaro.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.city-3 {
    background-image: url(./sources/images/monterrey.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.city-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vw;
    border-radius: 10px;
    backdrop-filter: blur(3.5px);
    z-index: 2;
    line-height: 10vw;
}

.city-text p{
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 1.3vw;
}

.city-1 > .city-text {
    padding: 0;
}

.city img {
    width: 100%;
}

.colleges {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    background-color: #EEEEEE;
    padding: 3% 0;
}

.colleges > h2 {
    background-color: #141E61;
    margin: 0;
    padding: 4%;
    font-size: 2vw;
    color: white;
    margin-right: 4%;
    border-radius: 0 10px 10px 0;
}

.college {
    width: 18%;
    box-shadow: 0px 3px 3px #a6a6a7;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin: 3% 0;
}

.college > a:link, .college > a:visited {
    color:black;
    text-decoration: none;
}

.college img {
    width: 80%;
    margin: 10%;
}

.college  p{
    margin: 0;
    padding: 0.5rem;
    border-top: #787A91 solid 1px;
    font-weight: 400;
    font-size: 1.3vw;
}

.img-up {
    margin-right: 1rem;
}

.instructions-flex-container h2 {
    text-align: center;
    color: #0F044C;
    font-size: 3vw;
    margin: 0;
}

.instructions-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0;
}

.instructions-flex-container > div {
    display: flex;
    justify-content: center;
}

.instructions-flex-container h3{
    font-size: 1.5vw;
    font-weight: 600;
}

.instructions-flex-container p{
    font-size: 1.3vw;
    font-weight: 400;
}


.instructions-flex-container img{
    width: 50%;
}

.instruction-text {
    width: 30%;
    padding: 1rem;
}

.instruction1, .instruction2 {
    text-align: center;
    width: 60%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.instruction-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEEEEE;
    width: 40%;
}

.instruction-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    width: 60%;
}

.instruction-img-container p {
    font-size: 0.2vw;
}

.instruction-img-container a {
    text-decoration: none;
}

/*For the login.html file*/

.body-login-signup {
    background-color: #0F044C;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-signup-box {
    background-color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 44px;
    border-radius: 10px;
}

.login-signup-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 440px;
}

.login-signup-logo a {
    display: flex;
    text-decoration: none;
    width: 223px;
}

.login-signup-logo > a:link, .login-signup-logo > a:visited {
    text-decoration: none;
}

.login-signup-logo img {
    width: 25px;
}

.login-signup-logo h1 {
    font-size: 24px;
    margin: 0;
    color: #141E61;
    font-weight: 800;
}

.login-signup-flex-container h2 {
    margin: 0;
    font-size: 20px;
    margin: 20px 0px;
}

.login-signup-input-userId, .login-signup-input-password {
    background-color: white;
    height: 20px;
    border: none;
    border-bottom: #787A91 solid 1px;
    padding-bottom: 2px;
    font-size: 16px;
    margin: 15px 0px;
    outline-color: transparent !important;
}

.login-signup-button-div {
    display: flex;
    height: 35px;
    justify-content: flex-end;
    margin-top: 30px;
}

.login-signup-button {
    background-color: #141E61;
    border: none;
    color: white;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 7px;
}

/*For the uni.html*/

.uni-body {
    margin: 0;
}

.uni-flex-container {
    display: flex;
    flex-direction: column;
}

.uni-name-div {
    width: 100vw;
    margin-top: 10vh;
    height: 56.25vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)), 
                      url(./sources/images/tec-background-without-letters.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    text-align: center;
    color: white;
    font-size: 1.8vw;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uni-main {
    width: 100vw;
    height: 210vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.uni-main-content {
    width: 90vw;
    height: 200vh;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
}

.uni-main-content-list {
    width: 100%; /*90vw*/
    height: 8%; /*10vh*/
    margin-left: 7%;
    display: flex;
    align-items: center;
}

.uni-main-content-list .uni-button-mty, .uni-main-content-list .uni-button-cdmx {
    background-color: #141E61;
    margin-right: 4%;
    color: white;
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 0;
    padding: 2vh 1vw;
}

.uni-button-qro {
    background-color: transparent;
    margin-right: 4%;
    color: #141E61;
    text-align: center;
    font-size: 1.1vw;
    font-weight: 500;
    border-radius: 5rem;
    border: 0;
    padding: 1.2% 1.5%;
}

.uni-main-content-body {
    width: 88%;
    height: 50%;
    padding: 0 6%;
}

.uni-main-content-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100%;
    gap: 3vw;
}

.uni-main-content-grid-container > div {
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.uni-main-content-grid-img {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
}

.uni-los-rojos {
    background-image: url(./sources/images/los-rojos.png);
}

.uni-los-blancos {
    background-image: url(./sources/images/los-blancos.png);
}

.uni-residencia-1 {
    background-image: url(./sources/images/residencia-1.jpg);
}

.uni-residencia-2 {
    background-image: url(./sources/images/residencia-2.jpg);
}

.uni-main-content-grid-text{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uni-main-content-grid-text p {
    margin: 0;
    color: #0F044C;
    font-size: 1vw;
    font-weight: 500;
}

.uni-main-content-grid-container a:link, .uni-main-content-grid-container a:visited {
    color:#0F044C;
    text-decoration: none;
}

/*
.uni-main-content-grid-container a:hover {
    color:#787A91;
    z-index: 2;
}
*/


.uni-main-map {
    width: 84%;
    height: 36%;
    padding: 3% 8%;
}

/*Universal tag*/

* {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;  
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
